venv*/
*__pycache__/
dist/
distpy/
.antlr/
interpreter/Language.interp
interpreter/Language.tokens
interpreter/LanguageLexer.interp
interpreter/LanguageLexer.tokens
interpreter/LanguageLexer.py
interpreter/LanguageParser.py
interpreter/*.java
interpreter/*.class
printedimages/*
build/