$code-editor_percent: 80%;

:host,
#code-editor {
    display: block;
    width: 100%;
    height: 100%;
}

app-topmenus {
    height: 1.5em;
    width: 100%;
    display: block;
}

mat-sidenav-container {
    height: calc(100% - 1.5em)
}

#code-editor mat-sidenav {
    min-width: 10%;
    width: max-content;
}

#code-editor mat-sidenav-content {
    width: 90%;
}

app-codeoutputarea {
    width: 100%;
    height: calc( 100% - #{$code-editor_percent} );
    display: block;
}

app-codearea {
    height: $code-editor_percent;
}