::ng-deep .tree-node {
    min-height: unset;
}

.tree-node {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
}

.tree-node a:first-child {
    width: 100%;
}

.tree-node:hover {
    background-color: #ccc;
}

mat-icon.mat-icon {
    width: auto;
}

.save-button:hover {
    color: #3c3cec;
}