<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <a mat-icon-button disabled style="padding-left: 1ch;"> </a>
        {{node.name}}
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <a matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        {{treeControl.isExpanded(node) ? '-' : '+'}}
    </a>
    {{node.name}}
    </mat-tree-node>
</mat-tree>