<table>
    <tr>
        <th class="keybinding">Keybinding</th>
        <th class="path">Path</th>
        <th class="buttons"></th>
    </tr>
    <tr *ngFor="let macro of macros; let index=index">
        <ng-container *ngIf="index==editMacroIndex; else noEditBlock">
            <td class="keybinding">
                <input type="text" value="{{macro.keybinding}}" #editKeybinding />
            </td>
            <td class="path">
                <input type="text" value="{{macro.path}}" #editFunctionPath />
            </td>
            <td class="buttons">
                <button class="cancel-button" (click)="hideEditMacro()">X</button>
                <button class="cancel-button" (click)="editMacro(index)">✓</button>
            </td>
        </ng-container>
        <ng-template #noEditBlock>
            <td class="keybinding">{{macro.keybinding}}</td>
            <td class="path">{{macro.path}}</td>
            <td class="edit">
                <button (click)="showEditMacro(index)">Edit</button>
            </td>
        </ng-template>
    </tr>

    <tr *ngIf="!isCreatingNewMacro">
        <td rowspan="2">
            <button class="add-button" (click)="showCreateMacro()">+</button>
        </td>
    </tr>

    <tr *ngIf="isCreatingNewMacro">
        <td class="keybinding">
            <input type="text" #keybinding />
        </td>
        <td class="path">
            <input type="text" #functionPath />
        </td>
        <td class="buttons">
            <button class="cancel-button" (click)="hideCreateMacro()">X</button>
            <button class="cancel-button" (click)="submitMacro()">✓</button>
        </td>
    </tr>
</table>